*{
  margin:0;
  padding: 0;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

body{
  width:100vw;
}

.container{
  width:70%;
  margin:auto;
  padding:100px;  
}

.wrapper{
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(50px, auto);  
}


input[type=button]{
  border-radius: 10px;
  border:none;
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.336) ;
  
}

input[type=button]:hover{
  transform:translateY(-5px)
}

#seven,#four,#one,#zero{
  grid-column: 1/1;
}


.operators{
  grid-column:4/4;
  background:cyan;
  font-size:17px;
}



#zero{
  grid-row:5;
  grid-column:1/3;
}

#clear{
  grid-column: 1/3;
  grid-row: 1;
  background:yellow;
  font-size:17px;
}


#add{
  grid-row:1;
  grid-column: 3;
}
#substract{
  grid-row:1;
  grid-column:4;
}
#multiply{
  grid-row:2;
}
#divide{
  grid-row:3;
}

#equal{
  grid-row:4/6;
  background:yellow;
  font-size:17px;
}

#decimal{
  grid-column:3/3;
  grid-row:5;
}

.result{
  width:100%;
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.336) ;
  padding:30px;
  margin-bottom:15px;
  border-radius:10px;
  text-align: right;
  font-size:25px;
  font-weight:bold;
  background:rgba(180, 180, 180, 0.377);
}

.result>span{
  font-size:15px;
  margin-right:5px;
  font-weight:lighter;
  color:gray;
}